.Main {
    min-height: calc(100dvh - 78px - 77px);
    display: flex;
    flex-direction: column;
    padding: 14px;
}

.Banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 14px;
    border-radius: 4px;
}
.BannerText{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.BannerText > h1{
    font-size: clamp(16px, 4vw, 34px);
}
.BannerText > h4{
    font-size: clamp(12px, 4vw, 24px);
}

.BannerButton{
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.FloatButton {
    background-color: #272829;
}