.Main {
    min-height: calc(100dvh - 78px - 121px);
    display: flex;
    flex-direction: column;
    padding: 14px;
    background: url("https://images.unsplash.com/photo-1509716159367-0180b75063d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}

.FloatButton {
    background-color: #272829;
}