.Main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s all ease;
    opacity: 0;
    pointer-events: none;
}

.active {
    position: fixed;
    top: 0;
    right: 0 !important;
    bottom: 0;
    left: 0;
    padding: 14px;
    cursor: pointer;
    opacity: 1;
    pointer-events: auto;
}

.Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14px;
    background-color: white;
    padding: 14px;
    border-radius: 4px;
    width: 100%;
    cursor: default;
}