.Main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid #464342;
}

.NavBar > a{
    color: #464342;
    text-decoration: none;
    margin-left: 14px;
    white-space: nowrap;
    padding: 4px;
}

.NavBarBurger {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 78px;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .3s all ease;
    padding: 14px;
    background-color: rgb(0,0,0, 0.75);
    z-index: 1;
    overflow: hidden;
    animation: menuAnimation;
    animation-duration: .5s;
}
.NavBarBurger > a{
    color: white;
    background-color: #464342;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 14px;
    margin-top: 4px;
}

.Burger {
    width: 50px;
    height: 50px;
    position: relative;
}

.Burger > a{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 25px;
    background-color: #464342;
    height: 4px;
    border-radius: 4px;
}

.Burger > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -200%;
    background-color: #464342;
    border-radius: 4px;
}
.Burger > a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200%;
    background-color: #464342;
    border-radius: 4px;
}

.BurgerActive {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
}

.BurgerActive > a {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 25px;
    height: 5px;
    background-color: transparent;
}

.BurgerActive > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    background-color: #464342;
    border-radius: 4px;
    transform: rotate(45deg);
}
.BurgerActive > a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    background-color: #464342;
    border-radius: 4px;
    transform: rotate(-45deg);
}

.LogoPlace {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.LogoPlace > article{
    margin-left: 4px;
}

.LogoPlace > img{
    max-width: 105px;
}
@keyframes menuAnimation {
    0% {
        top: 100%;
    }
    100% {
        top: 78px;
    }
}

@media screen and (max-width: 750px) {
    .NavBar {
        display: none;
    }

    .Burger > a{
        display: block;
    }
}
