.Main {
    min-height: calc(100dvh - 78px - 77px);
    padding: 14px;
}
.MainInfoBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}
.ImgBlock {
    border-radius: 1vw;
    background: rgb(250, 250, 250);
    border: 1px dashed gray;
    margin: 0;
    padding: 14px;
}

.Quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.Quantity > div > span > span {
    font-size: 16px;
}
.ImgBlock > div > div{
    display: flex;
    justify-content: flex-start;
    margin-top: 1vw;
    gap: 14px;
}
.ImgBlock > div > div > img{
    max-width: 450px;
    border-radius: 1vw;
}

.InfoBlock > div:last-child{
    padding: 14px;
    margin-top: 1vw;
    display: flex;
    border-radius: 4px;
    justify-content: flex-end;
    border: 1px dashed gray;
}
.InfoBlock > div{
    background: rgb(250, 250, 250);
}

.Settings_Change {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    cursor: pointer;
    padding: 4px 14px;
    border-radius: 4px;
    transition: .3s all ease;
}
.Settings_Change > span:last-child{
    opacity: 0.25;
    transition: .3s all ease;
    cursor: pointer;
}
.Settings_Change:hover > span:last-child{
    opacity: 1;
}
.Settings_Change:hover {
    background-color: #8fff8f;
}

@media screen and(max-width: 1300px) {
    .ImgBlock {
        max-width: 100%;
    }
}
