.Main {
    padding: 4vw;
    min-height: calc(100dvh - 78px - 77px);
}

.Cascader {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-family: 'Gabarito', cursive;
}
.Cascader > div{
    flex-wrap: wrap !important;
}