.Main {
    max-width: 1600px;
    min-height: calc(100dvh - 156px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    margin: 0 auto;
    padding: 1vw;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    padding: 14px;
    gap: 14px;
    width: 100%;
}

.Card {
    cursor: pointer;
    transition: .3s all ease-in-out;
    overflow: hidden;
    padding: 0 !important;
}
.Card:hover{
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.15);
    transform: scale(1.025);
    z-index: 3;
}