.Main {
    max-width: 1600px;
    min-height: calc(100dvh - 156px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.Svg {
    font-size: 18px;
    padding: 4px 14px;
    //color: black;
    border: 1px solid transparent;
    border-radius: .5vw;
    transition: .3s all ease;
}
.Svg:hover {
    color: #ff4848;
    border: 1px solid transparent;
    background-color: #e5e5e5;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    padding: 14px;
    gap: 14px;
    width: 100%;
}
.Wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.Wrapper > div > div{
    padding: 4px !important;
}
