.Main {
    display: flex;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    gap: 4px;
    margin-top: 1dvh;
    cursor: pointer;
    transition: .3s all ease;
    box-shadow:   0 5px 5px rgb(0,0,0, .25);
    border: 1px solid transparent;
    border-radius: 4px;
}
.item:hover{
    //background-color: rgb(0,0,0, 0.75);
    border: 1px solid rgb(0, 149, 255, 0.5);
    box-shadow:   0 5px 10px rgb(0, 149, 255, 0.25);
}
.item > h4{
    padding: 1dvh;
    font-size: clamp(5px, 3vw, 18px);
}
