.Main {
    background-color: #eeeeee;
    padding: 14px;
    border-radius: 6px;
}
.item {
    padding: 16px 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all ease;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    margin-top: 0.5vw;
    box-shadow:  0 0 5px rgb(0,0,0, 0.25);
}
.item:hover {
    filter: blur(0px);
}

.item td span{
    //color: white;
}
.item th span{
    //color: white;
}

.badge {
    padding: 4px 14px;
    border-radius: 6px;
}


.success {
    background-color: #8fff8f;
    padding: 4px 14px;
    border-radius: 6px;
}

.processing {
    background-color: #bdfcf2;
    padding: 4px;
}
.error {
    background-color: #ffa5a5;
    padding: 4px;
}

