.Main {
    padding: 14px;
    border-radius: 6px;
}
.item {
    padding: 16px 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s all ease;
    margin-top: 1.5dvh;
    background-color: rgb(0,0,0, 0.00);
    border: 1px solid #d2d2d2;
    width: 100%;
}
span{
    white-space: pre-line;
}
.itemOnPage {
    padding: 16px 6px;
    border-radius: 6px;
    transition: .3s all ease;
    margin-top: 1.5vw;
    background-color: rgb(0,0,0, 0.025);
    width: 100%;
}
.item:hover {
    background-color: rgb(0,0,0, 0.05);
    border: 1px solid transparent;
}

.item td span{
    //color: white;
}
.item th span{
    //color: white;
}

.badge {
    padding: 4px 14px;
    border-radius: 6px;
}


.success {
    background-color: #8fff8f;
    padding: 4px 14px;
    border-radius: 6px;
}

.processing {
    background-color: #bdfcf2;
    padding: 4px;
}
.error {
    background-color: #ffa5a5;
    padding: 4px;
}

