
.item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(126px, 1fr));
    align-items: center;
    gap: 14px;
    text-align: left;
    margin-top: 14px;
    background-color: #efefef;
    padding: 8px 14px;
    border-radius: 4px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}
.item:hover {
    background-color: #cccccc;
}
.item > h4{
    display: flex;
    flex-direction: column;
    gap: 4px;
    white-space: nowrap;
    border-right: 1px solid gray;
    border-radius: 2px;
    color: #3d3d3d;
}
.item > h4 > span{
    border-top: 1px solid black;
    padding: 4px;
    color: #181818;
}

.Approved {
    background-color: #8fff8f;
    padding: 4px;
}

.Error {
    background-color: #ff9494;
    padding: 4px;
}

